* {
	font-family: 'Roboto', 
	sans-serif;
}

h1,h2,h3{
	font-family: 'Fira Sans', 
	sans-serif;
}
h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
	font-weight: medium;
}

a {
	text-decoration: none;
	color: #510fad;
}

ul {
	list-style: inside;
	padding-inline-start: 0;
}


ul li {
	margin-bottom: 10px;
}

.link_arrow {
	position: relative;
}

.link_arrow:after {
	content: "\2192";
	position: absolute;
	right: -13px;
	top: 3px;
	width: 10px;
	color: #ffec00;
	line-height: 1
}

.link_arrow_blue {
	position: relative;
	font-weight: 500;
}

.link_arrow_blue:after {
	content: "\2192";
	position: absolute;
	right: -13px;
	top: 0px;
	width: 10px;
	font-size: 18px;
	color: #8558be;
	line-height: 1
}



.page {
	background: #ede9e0;
}

.wrap {
	width: 1024px;
	margin: 0 auto;
	position: relative;
}

.content {
	width: 944px; 
	margin:0 auto;
	padding: 0 40px;
}

.about .content {
	background: #510fad;
	position: relative;
	color: #fff;
	padding-top: 60px;
	padding-bottom: 80px;
	font-size: 16px;
	line-height: 1.875;
	margin-bottom: 100px;
}

.about .content:before {
	content: "";
	display: block;
	height: 81px;
	width: 100%;
	top: -80px;
	left: 0;
	background: url(../images/wave_top.png) 0 0 no-repeat;
	background-size: 100%;
	position: absolute;
}

.about .content:after {
	content: "";
	display: block;
	height: 81px;
	width: 100%;
	bottom: -80px;
	left: 0;
	background: url(../images/wave_bottom.png) 0 0 no-repeat;
	background-size: 100%;
	position: absolute;
}

.about .content a {
	color: #ffec00;
}

.breeds .content  {
	padding-bottom: 100px;
}

.breeds .content h2 {
	text-align: center;
}

.feedback .content  {
	padding-bottom: 100px;
}

.feedback .content h2 {
	text-align: center;
	margin-bottom: 10px;
}

.header__wrapper {
	display: flex;
}

.logo {
	width: 320px; 
	margin: 10px 0 0 0;
}

.header_inner {
	margin: 38px 0 0 0; 
	font-size: 16px;
	justify-content: space-between;
	display: flex;
}

.header_inner a {
	text-decoration: none;
}

.header_inner nav a {
	margin-right: 10px; 
	color: #202020
}

.promo {
	padding-top: 155px;
	padding-left: 320px;
	padding-bottom: 250px;
}

.promo p {
	font-size: 14px;
	color: #727173;
	text-transform: uppercase;
	border-left: 1px solid #510fad;
	padding-left: 10px; 
}

.promo-img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.about_short {
	width: 360px;
	margin: 0 auto;
	padding-bottom: 85px;
}

.about_short p {
	color: #b8adc8;
}

.about_inner {
	display: flex;
}

.dog_inner img {
	box-shadow: 0 0 30px #000;
}

.list_inner {
	margin-left: 25px;
}

.list_inner ul {
	margin-bottom: 50px;
}

.breeds_list {
	display:flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	line-height: 1.875;
}

.breeds_list section {
	width: 50%;
}

.breeds_item_description {
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: flex-start;
	
}

.breeds_item_description img {
	width: 140px;
	height: auto;
}

.breeds_item_text {
	margin-left: 15px;
	margin-right: 15px;
}

.breeds_item_text p {
	margin-top: 0;
	color: #737274;
	font-size: 16px;
}

.breeds_item_text .link_arrow_blue {
	text-transform: uppercase;
	font-size: 14px;
}

.feedback_container {
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: flex-start;
}

.feedback_left {
	width: 50%;
}

.feedback_left:before {
	content: "\201c";
	display: block;
	color: #e1ddd5;
	font-size: 250px;
	line-height: 1;
	font-family: "Fira Sans";
	height: 100px;
}

.feedback_left .date {
	font-size: 16px;
	font-style: italic;
	color: #737274;
}

.feedback_left h3 {
	font-size: 24px;
	margin: 12px 0;
}

.feedback_right {
	width: 50%;
	margin-top: 70px;
}

.feedback_left p {
	line-height: 1.875;
	color: #202020;
	padding-right: 20px;
	font-size: 16px;
}

.feedback_right img {
	box-shadow: 0 0 30px #999;
}

.feedback_right p {
	color: #737274;
	font-style: italic;
	font-size: 16px;
}

.blog {
	background: url(../images/slide5_background.png) 0 0 repeat;
	padding-top: 110px;
	padding-bottom: 100px;
	margin-bottom: 115px;
}
.blog .content {
	display: flex;
	width: 100%;
	flex-direction: row; 
	box-sizing: border-box;
	align-items: flex-start;
}

.blog_about {
	width: 47%;
	padding-right: 3%;
}

.blog_about h2 {
	font-size: 36px;
	color: #fff;
}

.blog_about p {
	font-size: 16px;
	color: #b8adc8;
	line-height: 1.875;
}

.blog_about a {
	margin-right: 9px;
}

.blog_posts {
	display: flex;
	width: 50%;
	flex-direction: row;
	align-items: flex-start;
}

.blog_posts section {
	width: 48%;
	margin-right: 2%;
	background: #fff;
	box-shadow: 0 0 30px #000;
	border-radius: 20px;
	padding-bottom: 15px;
}

.blog_posts section:nth-child(even) {
	margin-right: 0;
	margin-left: 2%;
}	

.blog_posts section img {
	width: 100%;
}

.blog_posts section p {
	font-size: 16px;
	line-height: 1.875;
	color: #202020;
	padding-right: 15px;
	padding-left: 15px;
}

.blog_posts section .link_arrow_blue {
	margin-left: 15px;
	margin-right: 15px;
	font-size: 16px;
	line-height: 1.875;
}

.contacts_container {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	align-items: flex-start;
}

.contacts_container section {
	width: 50%;
	padding-bottom: 20px;
}

.contacts_container h5 {
	padding: 0 0 10px 0;
	margin: 0;
	color: #737274;
	font-size: 14px;
	text-transform: uppercase;
}

.contacts_container p {
	padding: 0 0 10px 0;
	margin: 0;
	color: #202020;
	font-size: 16px;
	line-height: 1.875;
}

.contacts_container a {
	color: #202020;
}

.footer_navigation {
	margin-top: 100px;
	border-top: 1px solid #d5d1ca;
	padding-top: 30px;
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	align-items: flex-start;
	padding-bottom: 90px;
}

.footer_menu {
	width: 80%;
}

.footer_menu a {
	margin-right: 30px;
	color: #737274;
	font-size: 16px;
}

.footer_social {
	width: 20%;
	text-align: right;
}

.footer_social a {
	margin-left: 9px;
}

.vk_icon_blue {
	display: inline-block;
	height: 26px;
	width: 26px;
	background: url(../images/icons_social.png) 0 -50px no-repeat;
}

.vk_icon_blue:hover {
	background-position: 0 -100px;
}

.fb_icon_blue {
	display: inline-block;
	height: 26px;
	width: 26px;
	background: url(../images/icons_social.png) -50px -50px no-repeat;
}

.fb_icon_blue:hover {
	background-position: -50px -100px;
}

.insta_icon_blue {
	display: inline-block;
	height: 26px;
	width: 26px;
	background: url(../images/icons_social.png) -100px -50px no-repeat;
}

.insta_icon_blue:hover {
	background-position: -100px -100px;
}

.vk_icon_yellow {
	display: inline-block;
	height: 26px;
	width: 26px;
	background: url(../images/icons_social.png) 0 0 no-repeat;
}

.vk_icon_yellow:hover {
	background-position: 0 -150px;
}

.fb_icon_yellow {
	display: inline-block;
	height: 26px;
	width: 26px;
	background: url(../images/icons_social.png) -50px 0 no-repeat;
}

.fb_icon_yellow:hover {
	background-position: -50px -150px;
}

.insta_icon_yellow {
	display: inline-block;
	height: 26px;
	width: 26px;
	background: url(../images/icons_social.png) -100px 0 no-repeat;
}

.insta_icon_yellow:hover {
	background-position: -100px -150px;
}




